### Datasets & Source

In [1]:
import pandas as pd

Datasets are from two most trusted and well-maintained public repositories:
1. Johns Hopkins Univeristy Center for Systems Science and Engineering Dataset for Covid-19 (Hereinafter referred as CSSEGIS dataset). GitHub link: https://github.com/CSSEGISandData/COVID-19.
> Ensheng Dong, Hongru Du, Lauren Gardner. 2020. ``An interactive web-based dashboard to track COVID-19 in real time". The Lancet Infectious Diseases Correpsondence, volume 20, issue 5, p533-534. DOI:10.1016/S1473-3099(20)30120-1.
2. Our World in Data Covid-19 Dataset (Hereinafter referred as OWID dataset). GitHub link: https://github.com/owid/covid-19-data.

Both of them are updated on a daily basis.

More precisely, we will use three time series from CSSEGIS dataset for global confirmed, global recovered, and global death cases.

In [2]:
# Confirmed cases dataframe
confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
confirmed_df.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/1/22,3/2/22,3/3/22,3/4/22,3/5/22,3/6/22,3/7/22,3/8/22,3/9/22,3/10/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,173879,174073,174214,174214,174331,174582,175000,175353,175525,175893
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,271702,271825,271825,272030,272030,272210,272250,272337,272412,272479
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,265010,265079,265130,265186,265227,265265,265297,265323,265346,265366
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,38165,38249,38342,38434,38434,38434,38620,38710,38794,38794
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,98746,98746,98746,98796,98796,98806,98806,98829,98855,98855

In [3]:
# Recovered cases dataframe
recovered_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
recovered_df.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/1/22,3/2/22,3/3/22,3/4/22,3/5/22,3/6/22,3/7/22,3/8/22,3/9/22,3/10/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Death cases dataframe
deaths_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
deaths_df.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/1/22,3/2/22,3/3/22,3/4/22,3/5/22,3/6/22,3/7/22,3/8/22,3/9/22,3/10/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,7609,7617,7619,7619,7622,7623,7626,7630,7636,7639
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,3472,3474,3474,3478,3478,3482,3483,3483,3483,3484
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,6840,6843,6848,6852,6853,6855,6857,6858,6860,6861
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,151,151,151,151,151,151,151,152,152,152
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1900,1900,1900,1900,1900,1900,1900,1900,1900,1900

And two time series from OWID dataset for vaccination and hospitalization/ICU.

In [7]:
vaccines_df = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv')
vaccines_df.head(5)

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003

In [8]:
hospitals_df = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv')
hospitals_df.head(5)

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003

### Preparation & Preprocessing

In [9]:
import datetime